.pdf{
  display: block;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 900px;
}

.download {
  margin: 32px
}


.button {
  max-height: 3em;
  font-size: 1.1em;
  letter-spacing: .2em;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
	background: rgb(0, 0, 0);
	padding: 0.35em 0.75em;
  color: rgb(255, 255, 255);
  border: none;
  display: inline-block;
  cursor: pointer;
}

.margintop32 {
  margin-top: 32px;
}